body{
    background:#f4f6f9;
}

header, footer{
    background:#222;
    color:#fff;
    text-align:center;
    padding:20px;
}

/* MENU Enfoque Mobile First */

.menu{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:15px;
    background:#fff;
}

button{
    border:none;
    border-radius:8px;
    cursor:pointer;
    color:#fff;
}

.menu button{
    background:#0d2ec0;
    padding:10px 18px;
    font-size:16px;
}

/* Contenedor */

.contenedor{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
    padding:20px;
}

.card{
    padding:20px;
    background:#fff;
    border-radius:10px;
}

.card button{
    margin-top:100x;
    padding:8px 15px;
    background:#2196F3;
}

/* Tablet */

@media (min-width:768px){

.menu{
    flex-direction:row;
    justify-content:center;
}

.contenedor{
    grid-template-columns:1fr 1fr;
}

}

/* Escritorio */

@media (min-width:1024px){
    .contenedor{ grid-template-columns:1fr 1fr 1fr; }
}